html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(21,75,156);
    background: linear-gradient(180deg, #F5F7FA 0%, #CBD2D9 100%);
}

img {
    max-width: 300px;
    width: 80%;
}